:root{
    --Tomato: hsl(4, 100%, 67%);
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

img{
    display: block;
    max-width: 100%;
}


.hidden{
    display: none;
}

@media (min-width: 1023px) {
    .img-mobile{
        display: none;
    }

    body{
        min-height: 100vh;

        padding: 2rem;

        background-color: var(--DarkSlateGrey);

        display: flex;

        flex-direction: row-reverse;
        justify-content: center;
        align-items: stretch;
    }

    header{
        background-color: white;
        padding: 2rem;

        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        display: flex;
    }

    main{
        background-color: white;
        padding: 2rem;

        padding-left: 3rem;

        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;

        display: flex;
        flex-direction: column;

        justify-content: center;

        gap: 2rem;

    }

    h1{
        font-size: 2rem;

        color: var(--DarkSlateGrey);
    }

    .point1{
        display: flex;

        align-items: center;

        gap: 1rem;

        font-size: 1rem;
    }

    .point2{
        display: flex;

        align-items: center;

        gap: 1rem;
    }

    .point3{
        display: flex;

        align-items: center;

        gap: 1rem;
    }

    form{

        margin-top: 1rem;

        display: flex;
        flex-direction: column;

        gap: 1rem;
    }

    label{
        font-size: 0.8rem;
        font-weight: 600;

        color: var(--DarkSlateGrey);
    }

    
    input{
        min-height: 3rem;

        border-radius: 0.5rem;
    }

    .input-email{
        padding-left: 1.5rem;
    }

    .error{ 
            display: none;
    
            margin-left: 15rem;
    
            color: var(--Tomato)
         }

    .btn{
        background-color: var(--DarkSlateGrey);
        color: white;

        font-weight: 700;

        height: 3rem;
    }


    /*Seconda pagina*/

    .sub-img{
        max-width: 6rem;
    }

    .thanks{
        font-size: 5rem;
    }

    .thanks-message{
        font-size: 1.5rem;

        line-height: 2.5rem;
    }

    .email-submitted{
        font-weight: 700;
    }
    
    .dismiss{

        border: none;
        
        min-height: 4rem;

        background-color: var(--DarkSlateGrey);
        color: white;

        font-weight: 700;

        font-size: 1rem;

        border-radius: 0.5rem;
    }

    .dismiss:hover{
        background: linear-gradient(to left, var(--Tomato), #ff015e);
    
        cursor: pointer;
    }
}

@media (max-width: 1023px){

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 1rem;
    }

    header{
        width: 100%;
    }

    .img-desktop{
        display: none;
    }

    .img-mobile{
        width: 100%;

        
    }

    main{
        padding: 1rem 1rem 3rem 2rem;

        display: flex;

        flex-direction: column;

        gap: 1.5rem;

        color: var(--CharcoalGrey);
    }

    h1{
        font-size: 2rem;
    }

    .point1{
        display: flex;

        align-items: center;

        gap: 1rem;

        font-size: 1rem;
    }

    .point2{
        display: flex;

        align-items: center;

        gap: 1rem;
    }

    .point3{
        display: flex;

        align-items: center;

        gap: 1rem;
    }

    form{

        margin-top: 1rem;

        display: flex;
        flex-direction: column;

        gap: 1rem;
    }

    label{
        font-size: 0.8rem;
        font-weight: 600;
    }

    input{
        min-height: 3rem;

        border-radius: 0.5rem;
    }

    .input-email{
        padding-left: 1.5rem;
    }

    .btn{
        background-color: var(--DarkSlateGrey);
        color: white;

        min-height: 3rem;

        font-weight: 700;
    }


    /*Seconda Pagina Mobile*/

    .sub-img{
        max-width: 6rem;
        margin-top: 8rem;
    }

    .thanks{
        font-size: 3rem;
    }

    .thanks-message{
        font-size: 1rem;

        line-height: 1.2rem;
    }

    .email-submitted{
        font-weight: 700;
    }
    
    .dismiss{
        margin-top: 6rem;

        border: none;
        
        min-height: 4rem;

        background-color: var(--DarkSlateGrey);
        color: white;

        font-weight: 700;

        font-size: 1rem;

        border-radius: 0.5rem;
    }

    .dismiss:hover{
        background: linear-gradient(to left, var(--Tomato), #ff015e);
    
        cursor: pointer;
    }
}